<!doctype html>
<html lang='en'>
    <head>
        <meta charset="UTF-8">
        <meta name="viewport" content="width=device-width, initial-scale=1.0">
        <meta http-equiv="X-UA-Compatible" content="ie=edge">
        <link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/4.7.0/css/font-awesome.min.css">
        <link rel="stylesheet" href="cssjs/base/base.css" />
        <title>Connect2Dance</title>
    </head>
    <body>
        <div class="supreme-container">
        <header>
            <div class="header-left">Connect2Dance</div>
            <div class="header-right">
                <div class="menu">My Page</div>
                <div class="menu">Logout</div>
            </div>
        </header>

        <header class='mobile'>
            <div class='mobile-header-left'>Connect2Dance</div>
            <div class="nav-bar"><i class="fa fa-bars"></i>
            </div>
        </header>
        <nav>
        <div class="dropdown hide">
            <div class='close my-page'>X</div>
            <div class="my-page">My Page</div>
            <div class="my-page">Logout</div>
        </div>
        </nav>

        <main>
            <div class="search">
                <form onsubmit="search(event)" method="post" id="search">
                <div class="select-title">Genre</div>
                <select class="search-dance" id='search-genre' name='genre' form="search"><option value="Pop">Pop</option>
                    <option value="Latin">Latin</option>
                    <option value="EDM">EDM</option>
                </select>
                <div class="select-title">Location</div>
                <select class="search-dance" id='search-loc' name='location' form="search"><option value="Seoul">Seoul</option></select>
                <input type="submit" value="빠끄">
                </form>

                <div class="result"></div>
            </div>

            <div class="dancers">
                <div class="profile">
                <img src="image/1.jpg"  id="img1" alt="">
                </div>
                <div class="profile">
                <img src="image/2.jpg" id="img2" alt="">
                </div>
                <div class="profile">
                <img src="image/3.jpg" id="img3"alt="">
                </div>
            </div>
        </main>
    </div>


    <div class="modalcontainer">
        <div class="popup-modal shadow" id="modal">
            <h1 class="font-weight-bold">
                Testing
            </h1>
            <footer><button class='close-modal'>X</button></footer>
        </div>
    </div>

    </body>

    <script src='cssjs/base/base.js'></script>

</html>