<!DOCTYPE html>
<html lang="en">
  <head>
    <meta charset="UTF-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <link rel="stylesheet" href="cssjs/reset.css" />
    <link rel="stylesheet" href="cssjs/index/index.css" />
    <title>(S)CSS Masterclass</title>
  </head>
  <body>
    <header class = "header">
      <h1>Connect2Dance</h1>

      <nav>
        <ul>
          <li><span></span><a href="#">Sori Na</a></li>
          <li><span></span><a href="#">May J Lee</a></li>
          <li><span></span><a href="#">YoungBeen Joo</a></li>
          <li><span></span><a href="#">Bada Lee</a></li>
        </ul>
      </nav>

      <span class = "login"><a href="templates/login.html">LOGIN</a></span>
    
    </header>
    <main class = "posts">
      <section class = "post">
        <header class = "post__header">
        <span class="post__date">Sori Na</span>
        <span class="post__author"><a class = "post_link"href="https://www.youtube.com/user/soriscake">See</a> </span>
      </header>
      <div class="post__content">
        <h3 class = "visible">
          Sori Na <br>Choreographies
        </h3>
        <div class="invisible" style = "background-image: url('../../image/sorina.jpg')" ></div>
      </div>
      <footer>
        <span class="category">Sori Na Academy</span>
      </footer>
      </section>
      <section class = "post">
        <header class = "post__header">
        <span class="post__date">May J Lee</span>
        <span class="post__author"><a class = "post_link"href="https://www.youtube.com/user/onesmay2013">See!</a></span>
      </header>
      <div class="post__content">
        <h3 class = "visible">
          May J Lee <br>Choreographies
        </h3>
        <div class="invisible" style = "background-image: url('../../image/mayjlee.jpg')"></div>
      </div>
      <footer>
        <span class="category">One million Dance </span>
      </footer>
      </section>
      <section class = "post">
        <header class = "post__header">
        <span class="post__date">YoungBeen Joo</span>
        <span class="post__author"><a class = "post_link"href="https://www.youtube.com/watch?v=CTHo5LB7HY4">See!</a></span>
      </header>
      <div class="post__content">
        <h3 class = "visible">
          YoungBeen <br>Choreographies
        </h3>
        <div class="invisible" style = "background-image: url('../../image/youngbeenjoo.jpg')"></div>
      </div>
      <footer>
        <span class="category">One million Dance</span>
      </footer>
      </section>
      <section class = "post">
        <header class = "post__header">
        <span class="post__date">Bada Lee</span>
        <span class="post__author"><a class = "post_link"href="https://www.youtube.com/watch?v=N1P60vAi0xo">See!</a></span>
      </header>
      <div class="post__content">
        <h3 class = "visible">
          Bada Lee <br>Choreographies
        </h3>
        <div class="invisible" style = "background-image: url('../../image/badalee.jpg')"></div>
      </div>
      <footer>
        <span class="category">Just Jerk</span>
      </footer>
      </section>
      
    </main>
    <div class="videos">
      <iframe class = "video" width = "50%" height = "22%" src="https://www.youtube.com/embed/N1P60vAi0xo"></iframe>

      <iframe class = "video" width = "50%" height = "22%" src="https://www.youtube.com/embed/zUDXj8REpAI"></iframe>

      <iframe class = "video" width = "50%" height = "22%" src="https://www.youtube.com/embed/CTHo5LB7HY4"></iframe>

      <iframe class = "video" width = "50%" height = "22%" src="https://www.youtube.com/embed/TEEnKA3sVK8"></iframe>

    </div>
    <section class = "scroll_form">
      <div class="scroll">
        <div>DO YOU WANT TO DANCE LIKE THEM <span>COMMUNITIES -</span>DO YOU WANT TO DANCE LIKE THEM <span>
            COMMUNITIES-
        </span>
        </div>
        <div>DO YOU WANT TO DANCE LIKE THEM <span>COMMUNITIES -</span>DO YOU WANT TO DANCE LIKE THEM <span>
            COMMUNITIES-
        </span>
        </div>
      </div>
    </section>
  </body>
</html>
