<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <title>Login</title>
    <script src="//cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <link rel="preload" href="css/bootstrap.min.css" rel="stylesheet">
    <link href="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
    <script src="//maxcdn.bootstrapcdn.com/bootstrap/4.1.1/js/bootstrap.min.js"></script>
    
    <script type = "text/javaScript">

        function login(){

        // 1. 데이터 입력하기 : name, email, username, password, confirm password
        let Username = $('#username').val();
        let Password = $('#password').val();

        // 2. 입력사항 검사하기
            // 2.1 해당 요소 중 하나라도 입력하지 않았을 경우 alert를 띄운다
            if ( Username === '') {
                alert('Please Enter Your username');
                $('#username').focus();
                return ;
            } 
            if ( Password === '') {
                alert('Please Enter Your password');
                $('#password').focus();
                return ;
            } 
        // 3. POST에 저장을 요청한다 
                $.ajax({
                    type: "POST",
                    url: '/api/users/login',
                    // username, password 정보 넘겨주기 
                    data: { 
                        password : Password, 
                        username : Username , 
                    } ,

                    // 성공시
                    success : function(response){
                        if( response["message"] === 'NoUsername' ){
                            alert('Check the Username')
                            return ;
                        // 로그인 페이지로 이동시키기
                        }else if( response["message"] === 'NoPassword' ){
                            alert('Check the Password')
                            return;
                        }else if( response["message"] === 'success' ){
                            alert('Login Success')
                            window.location.href = "http://localhost:4000/main"
                        }
                    }
                })
            } // function get_user
        </script>
</head>
<body>
        <div id="login">
                <h3 class="text-center text-white pt-5">Login form</h3>
                <div class="container">
                    <div id="login-row" class="row justify-content-center align-items-center">
                        <div id="login-column" class="col-md-6">
                            <div id="login-box" class="col-md-12">
                                <form id="login-form" class="form" action="" method="post">
                                    <h3 class="text-center text-info">Login</h3>
                                    <div class="form-group">
                                        <label for="username" class="text-info">Username:</label><br>
                                        <input type="text" name="username" id="username" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <label for="password" class="text-info">Password:</label><br>
                                        <input type="text" name="password" id="password" class="form-control">
                                    </div>
                                    <div class="form-group">
                                        <input onclick="login()" type="submit" name= "submit" class="btn btn-info btn-md" value="submit">
                                    </div>
                                    <div id="register-link" class="text-right">
                                        <a href="/api/users/register" class="text-info">Register here</a>
                                    </div>
                                </br>
                                    <div id="register-link" class="text-right">
                                        <a href="/api/users/forgetPassword" class="text-info">Forgot Password</a>
                                    </div>
                                </form>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
</body>
</html>