<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/../cssjs/all/bg.js" defer ></script>
  <link href = "/../cssjs/login/login.css" rel = "stylesheet"/>

  <script type = "text/javaScript">

    function login(){
      
      // 1. 데이터 입력하기 : email,  password
    let Email = $('#email').val();
    let Password = $('#password').val();

    // 2. 입력사항 검사하기
    // 2.1 해당 요소 중 하나라도 입력하지 않았을 경우 alert를 띄운다
          if ( Email === '') {
          swal({text:'Please Enter Your email',
					icon : 'info'});
          $('#email').focus();
            return ;
          } 
          if ( Password === '') {
            swal({text:'Please Enter Your password',
					icon : 'info'});
            $('#password').focus();
            return ;
          } 
          // 3. POST에 저장을 요청한다 
          $.ajax({
            type: "POST",
                url: '/api/users/login',
                // username, password 정보 넘겨주기 
                data: { 
                  password : Password, 
                  email : Email 
                } ,
                
                // 성공시
                success : function(response){
                  if( response["message"] === 'NoUsername' ){
                    swal({text:'Check the Username',
				          	icon : 'info'})
                    return ;
                    // 로그인 페이지로 이동시키기
                  }else if( response["message"] === 'NoPassword' ){
                        swal({text:'Check the Password',
                        icon : 'info'})
                        return;
                      }else if( response["message"] === 'Noemail' ){
                        swal({text:'Email does not exist',
                        icon : 'info'})
                        return;
                      }
                      else if( response["message"] === 'success' ){
                        swal({text:'Login Success',
				              	icon : 'success'})
                        setTimeout(() => {
                          window.location.replace( "http://localhost:4000/main" );
                        }, 1500);
                      }
                    }
                  })
        } // function get_user
        
        </script>

</head>
<body>
  <div class="cont">
    <div class="demo">
      <div class="login">
        <div class="login__check"></div>
        <div class="login__form">
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input id = "email" type="email" class="login__input name" placeholder="Email"/>
          </div>
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <input id = "password" type="password" class="login__input pass" placeholder="Password"/>
          </div>
          <button onclick = "login()" type="button" class="login__submit">Login</button>
          <p class="login__signup">Don't have an account? &nbsp;<a href = "/api/users/register">Sign up</a></p>
          <p class="login__signup">Forgot Password? &nbsp;<a href = "/api/users/forgetPassword">Find Password</a></p>
          </div>
        </div>
    </div>
</div>
  
  
</body>
</html>