<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <title>Login</title>
  <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/../cssjs/all/bg.js" defer ></script>
  <link href = "/../cssjs/login/login.css" rel = "stylesheet"/>

  <script type = "text/javaScript">

    function login(){
      
      // 1. 데이터 입력하기 : email,  password
    let Email = $('#email').val();
    let Password = $('#password').val();
    let Role = $('#Role').val();

    console.log('Role',Role)

    // 2. 입력사항 검사하기
    // 2.1 해당 요소 중 하나라도 입력하지 않았을 경우 alert를 띄운다
        if ( Email === '') {
          swal({text:'Please Enter Your email',
					icon : 'info'});
          $('#email').focus();
            return ;
          } 
          if ( Password === '') {
            swal({text:'Please Enter Your password',
					icon : 'info'});
            $('#password').focus();
            return ;
          } 
          if ( Role === '') {
            swal({text:'Please Enter Your Role',
					icon : 'info'});
            $('#role').focus();
            return ;
          } 
          // 3. POST에 저장을 요청한다 
          $.ajax({
            type: "POST",
                url: '/api/users/login',
                // username, password 정보 넘겨주기 
                data: { 
                  password : Password, 
                  email : Email , 
                  role : Role
                } ,
                
                // 성공시
                success : function(response){
                  if( response["message"] === 'NoUsername' ){
                    swal({text:'Check the Username',
				          	icon : 'info'})
                    return ;
                    // 로그인 페이지로 이동시키기
                  }else if( response["message"] === 'NoPassword' ){
                        swal({text:'Check the Password',
                        icon : 'info'})
                        return;
                      }else if( response["message"] === 'Noemail' ){
                        swal({text:'Email doesn exist',
                        icon : 'info'})
                        return;
                      }
                      else if( response["message"] === 'success' ){
                        swal({text:'Login Success',
				              	icon : 'success'})
                        setTimeout(() => {
                          window.location.replace( "http://localhost:4000/main" );
                        }, 1500);
                      }
                    }
                  })
        } // function get_user
        
        </script>

</head>
<body>
  <div class="cont">
    <div class="demo">
      <div class="login">
        <div class="login__check"></div>
        <div class="login__form">
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input id = "email" type="text" class="login__input name" placeholder="Email"/>
          </div>
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <input id = "password" type="password" class="login__input pass" placeholder="Password"/>
          </div>
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <select id = "Role" type="Role" class="login__role pass" placeholder="Status">
              <option value='' selected>Choose Your Status</option>
              <option value = 1 >User</option>
              <option value = 0 >Dancer</option>
              </select>
          </div>
          <button onclick = "login()" type="button" class="login__submit">Login</button>
          <p class="login__signup">Don't have an account? &nbsp;<a href = "/api/users/register">Sign up</a></p>
          <p class="login__signup">Forgot Password? &nbsp;<a href = "/api/users/forgetPassword">Find Password</a></p>
        </div>
      </div>
      <div class="app">
        <div class="app__top">
          <div class="app__menu-btn">
            <span></span>
          </div>
          <svg class="app__icon search svg-icon" viewBox="0 0 20 20">
            <path d="M20,20 15.36,15.36 a9,9 0 0,1 -12.72,-12.72 a 9,9 0 0,1 12.72,12.72" />
          </svg>
          <p class="app__hello">Good Morning!</p>
          <div class="app__user">
            <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__user-photo" /> -->
            <span class="app__user-notif">3</span>
          </div>
          <div class="app__month">
            <span class="app__month-btn left"></span>
            <p class="app__month-name">March</p>
            <span class="app__month-btn right"></span>
          </div>
        </div>
        <div class="app__bot">
          <div class="app__days">
            <div class="app__day weekday">Sun</div>
            <div class="app__day weekday">Mon</div>
            <div class="app__day weekday">Tue</div>
            <div class="app__day weekday">Wed</div>
            <div class="app__day weekday">Thu</div>
            <div class="app__day weekday">Fri</div>
            <div class="app__day weekday">Sad</div>
            <div class="app__day date">8</div>
            <div class="app__day date">9</div>
            <div class="app__day date">10</div>
            <div class="app__day date">11</div>
            <div class="app__day date">12</div>
            <div class="app__day date">13</div>
            <div class="app__day date">14</div>
          </div>
          <div class="app__meetings">
            <div class="app__meeting">
              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-80_5.jpg" alt="" class="app__meeting-photo" /> -->
              <p class="app__meeting-name">Feed the cat</p>
              <p class="app__meeting-info">
                <span class="app__meeting-time">8 - 10am</span>
                <span class="app__meeting-place">Real-life</span>
              </p>
            </div>
            <div class="app__meeting">
              <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo" /> -->
              <p class="app__meeting-name">Feed the cat!</p>
              <p class="app__meeting-info">
                <span class="app__meeting-time">1 - 3pm</span>
                <span class="app__meeting-place">Real-life</span>
              </p>
            </div>
            <div class="app__meeting">
              <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo" /> -->
              <p class="app__meeting-name">FEED THIS CAT ALREADY!!!</p>
              <p class="app__meeting-info">
                <span class="app__meeting-time">This button is just for demo ></span>
              </p>
            </div>
          </div>
        </div>
        <div class="app__logout">
          <svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
            <path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
  
  
</body>
</html>