<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <script src="/../cssjs/profile/profileDancer.js" defer ></script>
    <link href = "/../cssjs/profile/profile.css" rel = "stylesheet"/>
    <link href ='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
  
    <title>Profile Dancer</title>
</head>
<body>
    <!-- multistep form -->
  <div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
    <li class="active">Genre</li>
    <li >Lesson Purpose</li>
    <li >Lesson Type</li>
    <li >Lesson Day</li>
    <li >Lesson Time</li>
    <li >Age</li>
    <li> Sex</li>
    <li> Image</li>
    <li> Workplace</li>
    <li> Youtube links</li>
    <li>Contact</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      <h2 class="fs-title">Genre</h2>
      <h3 class="fs-subtitle">Select 3 genres you are expert in</h3>
      <select class = "genre">
    <option value="K_Pop">K_Pop</option>
    <option value="Hip_Hop">Hip_Hop</option>
    <option value="Girlish">Girlish</option>
    <option value="Girls_HipHop">Girls_HipHop</option>
    <option value="Girls_HipHop">Girls_HipHop</option>
    <option value="Poppin">Poppin</option>
    <option value="Locking">Locking</option>
    <option value="House">House</option>
    <option value="Breaking">Breaking</option>
    <option value="Ballet">Ballet</option>
    <option value="Korea_Dance">Korea_Dance(한국무용)</option>
    <option value="Modern_Dance">Modern_Dance(현대무용)</option>
    <option value="Choreography">Choreography</option>
    <option value="Salsa">Salsa</option>
    <option value="Dance_Sports">Dance_Sports</option>
    <option value="Etc">Etc( 그외 )</option>
  </select>
    </br>
    <select class = "genre">
      <option value="K_Pop">K_Pop</option>
      <option value="Hip_Hop">Hip_Hop</option>
      <option value="Girlish">Girlish</option>
      <option value="Girls_HipHop">Girls_HipHop</option>
      <option value="Girls_HipHop">Girls_HipHop</option>
      <option value="Poppin">Poppin</option>
      <option value="Locking">Locking</option>
      <option value="House">House</option>
      <option value="Breaking">Breaking</option>
      <option value="Ballet">Ballet</option>
      <option value="Korea_Dance">Korea_Dance(한국무용)</option>
      <option value="Modern_Dance">Modern_Dance(현대무용)</option>
      <option value="Choreography">Choreography</option>
      <option value="Salsa">Salsa</option>
      <option value="Dance_Sports">Dance_Sports</option>
      <option value="Etc">Etc( 그외 )</option>
    </select>
      </br>
      <select class = "genre">
        <option value="K_Pop">K_Pop</option>
        <option value="Hip_Hop">Hip_Hop</option>
        <option value="Girlish">Girlish</option>
        <option value="Girls_HipHop">Girls_HipHop</option>
        <option value="Girls_HipHop">Girls_HipHop</option>
        <option value="Poppin">Poppin</option>
        <option value="Locking">Locking</option>
        <option value="House">House</option>
        <option value="Breaking">Breaking</option>
        <option value="Ballet">Ballet</option>
        <option value="Korea_Dance">Korea_Dance(한국무용)</option>
        <option value="Modern_Dance">Modern_Dance(현대무용)</option>
        <option value="Choreography">Choreography</option>
        <option value="Salsa">Salsa</option>
        <option value="Dance_Sports">Dance_Sports</option>
        <option value="Etc">Etc( 그외 )</option>
      </select>
        </br>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Lesson Purpose</h2>
      <h3 class="fs-subtitle">Purpose of Your Lesson</h3>
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Hobby">Hobby ( 취미 )
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Entrance">Entrance Examination ( 입시 준비 )
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Audition">Audition( 오디션 준비 )
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Etc">Etc ( 기타 )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
  <fieldset>
      <h2 class="fs-title">Lesson Type</h2>
      <h3 class="fs-subtitle">Type of your Lesson</h3>
      <input class = "L_Type" type="checkbox" name="chk_info" value="Personal">Personal Lesson(개인레슨)
      <input class = "L_Type" type="checkbox" name="chk_info" value="Group">Group Lesson( 그룹 레슨 )
      <input class = "L_Type" type="checkbox" name="chk_info" value="Online">Online Lesson ( 온라인/화상 레슨 )
      <input class = "L_Type" type="checkbox" name="chk_info" value="Academy"> 학원 (Academy)
      <input class = "L_Type" type="checkbox" name="chk_info" value="All"> 무관 ( Doesn't matter )
      <input class = "L_Type" type="checkbox" name="chk_info" value="Etc">Etc (기타)
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
  <fieldset>
      <h2 class="fs-title">Lesson Day</h2>
      <h3 class="fs-subtitle">When could you provide Lesson?</h3>
      <input class = "L_Day" type="checkbox" name="chk_info" value="Weekday"> Weekday(  평일 )
      <input class = "L_Day" type="checkbox" name="chk_info" value="Weekends"> Weekends( 주말 )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Lesson Time</h2>
      <h3 class="fs-subtitle">Which Time are you Available</h3>
      <input class = "L_Time" type="checkbox" name="chk_info" value="Morning"> Morning ( ~ 12:00 pm )
      <input class = "L_Time" type="checkbox" name="chk_info" value="Afternoon"> Afternoon ( 12:00 ~ 18:00 pm )
      <input class = "L_Time" type="checkbox" name="chk_info" value="Night"> Night ( 18:00pm ~ )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Age</h2>
      <h3 class="fs-subtitle"></h3>
    </br>
    <select id = "Age">
      <option value="0s">
        1 ~ 10
      </option>
      <option value="10s">
        10 ~ 19
      </option>
      <option value="20s">
        20 ~ 29
      </option>
      <option value="30s">
        30 ~ 39
      </option>
      <option value="40s">
        40 ~ 49
      </option>
      <option value="50s">
        50 ~ 59
      </option>
      <option value="60s">
        60 ~ 69
      </option>
      <option value="70over">
        70 ~
      </option>
      </select>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Sex</h2>
      <h3 class="fs-subtitle">Pick your Sex</h3>
      <select id = "Sex">
        <option value="M">Male</option>
        <option value="F">Femal</option>
        <option value="Etc">Etc</option>
        </select>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Img</h2>
      <h3 class="fs-subtitle">1) Upload your image Or 2) Put image link that shows you</h3>
      <h4 class = "fs-subtitle">Upload your image</h4>
      <input class = "fs-image" id = "Img" type = "file" value = "File Select"name = "Image" accept="image/png, image/jpeg"/>
      <h4 class="fs-subtitle">Put your image link</h4>
      <input id = "Img" type = "text" name = "Image"/>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">WorkPlace</h2>
      <h3 class="fs-subtitle">Freely write workplaces you worked in</h3>
      <input id = "Workplace" type = "text" name = "Workplace"/>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Youtube links</h2>
      <h3 class="fs-subtitle">Put in Youtube video link that introduces your dance</h3>
      <h3 class="fs-subtitle">ex. https://www.youtube.com/watch?v=CTHo5LB7HY4</h3>
      <input class = "link" type = "text" name = "link"/>
      <input class = "link" type = "text" name = "link"/>
      <input class = "link" type = "text" name = "link"/>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Contact</h2>
      <h3 class="fs-subtitle">Kakao Id, Instagram Id allowed</h3>
      <input name="name" placeholder="Contact" class="Contact" required />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input onclick = "get_dancer()" type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </div>


</body>
</html>