<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <link href = "/../cssjs/profile/profile.css" rel = "stylesheet"/>
    <link href ='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    <title>Profile User</title>
  
</head>
<body>
    <!-- multistep form -->
  <div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
        <li class="active">Age</li>
        <li>Place</li>
        <li>Sex</li>
        <li>Contact</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      <h2 class="fs-title">AGE</h2>
      <h3 class="fs-subtitle">How old are you</h3>
      <select id =" 
      age" name='age'>
        <option value="0s">
          1 ~ 10
        </option>
        <option value="10s">
          10 ~ 19
        </option>
        <option value="20s">
          20 ~ 29
        </option>
        <option value="30s">
          30 ~ 39
        </option>
        <option value="40s">
          40 ~ 49
        </option>
        <option value="50s">
          50 ~ 59
        </option>
        <option value="60s">
          60 ~ 69
        </option>
        <option value="70over">
          70 ~
        </option>
        </select>
        </br>
        <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Place</h2>
      <h3 class="fs-subtitle">Want to/ Can dance in ( District )</h3>
      <select id = "place" name='place'>
    <option value="Jongno-gu">
      Jongno-gu 종로구</option>
    <option value="Jung-gu">Jung-gu 중구</option>
    <option value="Yongsan-gu">
      Yongsan-gu 용산구</option>
    <option value="Seongdong-gu">
      Seongdong-gu 성동구</option>
    <option value="Gwangjin-gu">
      Gwangjin-gu 광진구</option>
    <option value="Dongdaemun-gu">
      Dongdaemun-gu 동대문구</option>
    <option value="Jungnang-gu">Jungnang-gu 중랑구</option>
    <option value="Seongbuk-gu">
      Seongbuk-gu 성북구</option>
    <option value="Gangbuk-gu">Gangbuk-gu 강북구</option>
    <option value="Dobong-gu">Dobong-gu 도봉구</option>
    <option value="Nowon-gu">
      Nowon-gu 노원구</option>
    <option value="Eunpyeong-gu">
      Eunpyeong-gu 은평구</option>
    <option value="Seodaemun-gu">Seodaemun-gu 서대문구</option>
    <option value="Mapo-gu">Mapo-gu 마포구</option>
    <option value="Yangcheon-gu">Yangcheon-gu 양천구</option>
    <option value="Gangseo-gu">
      Gangseo-gu 강서구</option>
    <option value="Guro-gu">
      Guro-gu 구로구</option>
    <option value="Geumcheon-gu">
      Geumcheon-gu 금천구</option>
    <option value="Yeongdeungpo-gu">
      Yeongdeungpo-gu 영등포구</option>
    <option value="Dongjak-gu">
      Dongjak-gu 동작구</option>
    <option value="Gwanak-gu">
      Gwanak-gu 관악구</option>
    <option value="Seocho-gu">
      Seocho-gu 서초구</option>
    <option value="Gangnam-gu">
      Gangnam-gu 강남구</option>
    <option value="Songpa-gu">
      Songpa-gu 송파구</option>
    <option value="Gangdong-gu">Gangdong-gu 강동구</option>
  </select>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
  <fieldset>
      <h2 class="fs-title">Gender</h2>
      <h3 class="fs-subtitle"></h3>
      <select id = "gender" name='gender'>
        <option value="M">Male</option>
          <option value="F">Female</option>
          <option value="Etc">Etc</option>
      </select>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Contact</h2>
      <h3 class="fs-subtitle">KakaoId, InstagramId allowed</h3>
      <input id = "kakaotalk" name="contact" placeholder="Kakao Id" class="contact" required />
      <br/>
      <input id = "instagram" name="contact" placeholder="Instagram Id" class="contact" required />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input onclick = "put_user()" type="submit" name="submit" class="submit action-button" value="Submit" />
    </fieldset>
  </div>

  <script type = "text/javaScript">
      
    var current_fs, next_fs, previous_fs; //fieldsets
    var left, opacity, scale; //fieldset properties which we will animate
    var animating; //flag to prevent quick multi-click glitches

    $(".next").click(function(){
    if(animating) return false;
    animating = true;
    current_fs = $(this).parent();
    next_fs = $(this).parent().next();

    //activate next step on progressbar using the index of next_fs
    $("#progressbar li").eq($("fieldset").index(next_fs)).addClass("active");

    //show the next fieldset
    next_fs.show(); 
    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
      step: function(now, mx) {
        //as the opacity of current_fs reduces to 0 - stored in "now"
        //1. scale current_fs down to 80%
        scale = 1 - (1 - now) * 0.2;
        //2. bring next_fs from the right(50%)
        left = (now * 50)+"%";
        //3. increase opacity of next_fs to 1 as it moves in
        opacity = 1 - now;
        current_fs.css({'transform': 'scale('+scale+')'});
        next_fs.css({'left': left, 'opacity': opacity});
      }, 
      duration: 800, 
      complete: function(){
        current_fs.hide();
        animating = false;
      }, 
      //this comes from the custom easing plugin
      easing: 'easeInOutBack'
    });
    });

    $(".previous").click(function(){
    if(animating) return false;
    animating = true;

    current_fs = $(this).parent();
    previous_fs = $(this).parent().prev();

    //de-activate current step on progressbar
    $("#progressbar li").eq($("fieldset").index(current_fs)).removeClass("active");

    //show the previous fieldset
    previous_fs.show(); 
    //hide the current fieldset with style
    current_fs.animate({opacity: 0}, {
      step: function(now, mx) {
        //as the opacity of current_fs reduces to 0 - stored in "now"
        //1. scale previous_fs from 80% to 100%
        scale = 0.8 + (1 - now) * 0.2;
        //2. take current_fs to the right(50%) - from 0%
        left = ((1-now) * 50)+"%";
        //3. increase opacity of previous_fs to 1 as it moves in
        opacity = 1 - now;
        current_fs.css({'left': left});
        previous_fs.css({'transform': 'scale('+scale+')', 'opacity': opacity});
      }, 
      duration: 800, 
      complete: function(){
        current_fs.hide();
        animating = false;
      }, 
      //this comes from the custom easing plugin
      easing: 'easeInOutBack'
    });
    });

    function put_user(){

      let Age = $('#age').val();
      let Place = $('#place').val();
      let Gender = $('#gender').val();
      let Kakaotalk = $('#kakaotalk').val();
      let Instagram = $('#instagram').val();

      

      // 3. POST에 저장을 요청한다 
      $.ajax({
          type: "POST",
          url: '/api/users/profileUser',
          data: { 
              age : Age,
              place : Place,
              gender : Gender,
              kakaotalk : Kakaotalk,
              instagram : Instagram
          } ,
        // 성공시
        success : function(response){
            // console.log('res',response['success'] )
            if( response['success'] === 'true' ){
                swal({
                  title : 'Registration Success',
                  text : 'Registration Success. Login And Enjoy Our services',
                  icon : 'success'})
                setTimeout(() => {
                  window.location.replace( "http://localhost:4000/api/users/login");
                }, 1500);
            }else if( response['result'] === '"Incorrect or Expired Link"'){
                swal({
                  title : "Link Error" ,
                  text : "Incorrect or Expired Link. Reregister",
                  icon : 'Warning'})
                alert("Incorrect or Expired Link. Reregister")
                setTimeout(() => {
                  window.location.replace( "http://localhost:4000/api/users/register");
                }, 1500);
                return false;

            }else if( response['result'] === 'Error saving User'){
                swal({
                  title: 'Retry',
                  text : 'Strange Error Happened. Retry or Contact us',
                  icon : 'warning'})
                alert('Strange Error Happened. Retry or Contact us')
                $('#email').focus();
                return false;
            }else if( response['success'] === 'Error in signup while saving user info'){
                swal({
                  title: 'Save Error',
                  text : 'Error in signup while saving user info, contact Us!!',
                  icon :'warning'}
                  )
                return false;
            }
          }
      })
    } // function get_user

</script>
</body>
</html>