<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">

    <meta name = "viewport" content="width=device-width, initial-scale=1.0">
    <script src="/../cssjs/profile/profileDancer.js" defer ></script>
    <link href = "/../cssjs/profile/profile.css" rel = "stylesheet"/>
    <script src="https://unpkg.com/sweetalert/dist/sweetalert.min.js"></script>
    <link href ='https://fonts.googleapis.com/css?family=Open+Sans:400,300,700' rel='stylesheet' type='text/css'>
    <script src = "https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"> </script>
    <script src='http://ajax.googleapis.com/ajax/libs/jqueryui/1.8.5/jquery-ui.min.js'></script>
    
    <title>Profile Dancer</title>
     
    <script type = "text/javaScript">
  
    // DB 에 저장하는 코드 

    function put_dancer(){

        // Genre 넣기 
        var GenreValues = [];
        $("input[class='genre']:checked").each(function(i){
          GenreValues.push($(this).val())
        })

        var L_PurposeValues = [];
        $("input[class='L_Purpose']:checked").each(function(i){
          L_PurposeValues.push($(this).val())
        })

        var L_TypeValues = [];
        $("input[class='L_Type']:checked").each(function(i){
          L_TypeValues.push($(this).val())
        })

        var L_DayValues = [];
        $("input[class='L_Day']:checked").each(function(i){
          L_DayValues.push($(this).val())
        })

        var L_TimeValues = [];
        $("input[class='L_Time']:checked").each(function(i){
          L_TimeValues.push($(this).val())
        })

        var L_TimeValues = [];
        $("input[class='L_Time']:checked").each(function(i){
          L_TimeValues.push($(this).val())
        })

        let Age = $('#Age').val();

        let Gender = $('#Gender').val();

        let Img = $('#Img').val();

        let Workplace = $('#Workplace').val();

        var LinkValues = [];
        $("input[class='link']:checked").each(function(i){
          LinkValues.push($(this).val())
        })

        let Contact = $('.Contact').val();

        // 3. POST에 저장을 요청한다 
        $.ajax({
            type: "POST",
            url: '/api/users/profileDancer',
            data: { 
                genre : GenreValues,
                Lesson_Purpose : L_PurposeValues, 
                Lesson_Type : L_TypeValues, 
                Lesson_Day : L_DayValues, 
                Lesson_Time : L_TimeValues , 
                Age: Age ,
                Gender: Gender ,
                Image : Img,
                Workplace: Workplace,
                Youtube_Link: LinkValues,
                Contact: Contact
            } ,
          // 성공시
          success : function(response){
              // console.log('res',response['success'] )
              if( response['success'] === 'true' ){
                  swal({
                    title : 'Registration Success',
                    text : 'Registration Success. Login And Enjoy Our services',
                    icon : 'success'})
                  setTimeout(() => {
                    window.location.replace( "http://localhost:4000/api/users/login");
                  }, 1500);
              }else if( response['result'] === '"Incorrect or Expired Link"'){
                  swal({
                    title : "Link Error" ,
                    text : "Incorrect or Expired Link. Reregister",
                    icon : 'Warning'})
                  alert("Incorrect or Expired Link. Reregister")
                  setTimeout(() => {
                    window.location.replace( "http://localhost:4000/api/users/register");
                  }, 1500);
                  return false;

              }else if( response['result'] === 'Error saving Dancer'){
                  swal({
                    title: 'Retry',
                    text : 'Strange Error Happened. Retry or Contact us',
                    icon : 'warning'})
                  alert('Strange Error Happened. Retry or Contact us')
                  $('#email').focus();
                  return false;
              }else if( response['success'] === 'Error in signup while saving user info'){
                  swal({
                    title: 'Save Error',
                    text : 'Error in signup while saving user info, contact Us!!',
                    icon :'warning'}
                    )
                  return false;
              }
            }
          })
        } // function get_dancer

  </script>
</head>

<body>
    <!-- multistep form -->
  <div id="msform">
    <!-- progressbar -->
    <ul id="progressbar">
    <li class="active">Genre</li>
    <li >Lesson Purpose</li>
    <li >Lesson Type</li>
    <li >Lesson Day</li>
    <li >Lesson Time</li>
    <li >Age</li>
    <li> Gender</li>
    <li> Workplace</li>
    <li> Youtube links</li>
    <li>Contact</li>
    </ul>
    <!-- fieldsets -->
    <fieldset>
      <h2 class="fs-title">Genre</h2>
      <h3 class="fs-subtitle">Select genres you are expert in</h3>
      <div class="genre__all">
        <div class = "genre__select"><input class = "genre" type="checkbox" value="K_Pop">K_Pop </div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Hip_Hop">Hip_Hop</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Girlish">Girlish</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Girls_HipHop">Girls_HipHop</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Poppin">Poppin</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Locking">Locking</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="House">House</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Breaking">Breaking</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Ballet">Ballet</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Korea_Dance">Korea_Dance</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Modern_Dance">Modern_Dance</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Choreography">Choreography</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Salsa">Salsa</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Dance_Sports">Dance_Sports</div>
        <div class = "genre__select"><input class = "genre" type="checkbox" value="Etc">Etc( 그 외 )</div>
      </div>
    </br>
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Lesson Purpose</h2>
      <h3 class="fs-subtitle">Purpose of Your Lesson</h3>
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Hobby">Hobby ( 취미 )
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Entrance">Entrance Examination ( 입시 준비 )
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Audition">Audition( 오디션 준비 )
      <input class = "L_Purpose" type="checkbox" name="chk_info" value="Etc">Etc ( 기타 )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
  <fieldset>
      <h2 class="fs-title">Lesson Type</h2>
      <h3 class="fs-subtitle">Type of your Lesson</h3>
      <input class = "L_Type" type="checkbox" name="chk_info" value="Personal">Personal Lesson(개인레슨)
      <input class = "L_Type" type="checkbox" name="chk_info" value="Group">Group Lesson( 그룹 레슨 )
      <input class = "L_Type" type="checkbox" name="chk_info" value="Online">Online Lesson ( 온라인/화상 레슨 )
      <input class = "L_Type" type="checkbox" name="chk_info" value="Academy"> Academy ( 학원 )
      <input class = "L_Type" type="checkbox" name="chk_info" value="All"> Doesn't matter ( 무관 )
      <input class = "L_Type" type="checkbox" name="chk_info" value="Etc">Etc ( 기타 )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
  <fieldset>
      <h2 class="fs-title">Lesson Day</h2>
      <h3 class="fs-subtitle">When could you provide Lesson?</h3>
      <input class = "L_Day" type="checkbox" name="chk_info" value="Weekday"> Weekday(  평일 )
      <input class = "L_Day" type="checkbox" name="chk_info" value="Weekends"> Weekends( 주말 )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Lesson Time</h2>
      <h3 class="fs-subtitle">Which Time are you Available</h3>
      <input class = "L_Time" type="checkbox" name="chk_info" value="Morning"> Morning ( ~ 12:00 pm )
      <input class = "L_Time" type="checkbox" name="chk_info" value="Afternoon"> Afternoon ( 12:00 ~ 18:00 pm )
      <input class = "L_Time" type="checkbox" name="chk_info" value="Night"> Night ( 18:00pm ~ )
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Age</h2>
      <h3 class="fs-subtitle">Tell us your age</h3>
    </br>
    <select id = "Age">
      <option value="0s">
        1 ~ 10
      </option>
      <option value="10s">
        10 ~ 19
      </option>
      <option value="20s">
        20 ~ 29
      </option>
      <option value="30s">
        30 ~ 39
      </option>
      <option value="40s">
        40 ~ 49
      </option>
      <option value="50s">
        50 ~ 59
      </option>
      <option value="60s">
        60 ~ 69
      </option>
      <option value="70over">
        70 ~
      </option>
      </select>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Gender</h2>
      <h3 class="fs-subtitle">Pick your Gender</h3>
      <select id = "Gender">
        <option value="M">Male</option>
        <option value="F">Femal</option>
        <option value="Etc">Etc</option>
        </select>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    
    <fieldset>
      <h2 class="fs-title">WorkPlace</h2>
      <h3 class="fs-subtitle">Freely write workplaces you worked in</h3>
      <input id = "Workplace" type = "text" name = "Workplace"/>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Youtube links</h2>
      <h3 class="fs-subtitle">Put in Youtube video link that introduces your dance</h3>
      <h3 class="fs-subtitle">ex. https://www.youtube.com/watch?v=CTHo5LB7HY4</h3>
      <input class = "link" type = "text" name = "link"/>
      <input class = "link" type = "text" name = "link"/>
      <input class = "link" type = "text" name = "link"/>
    </br>
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input type="button" name="next" class="next action-button" value="Next" />
    </fieldset>
    <fieldset>
      <h2 class="fs-title">Contact</h2>
      <h3 class="fs-subtitle">Kakao Id, Instagram Id allowed</h3>
      <input name="name" placeholder="Contact" class="Contact" required />
      <input type="button" name="previous" class="previous action-button" value="Previous" />
      <input onclick = "put_dancer()" type="submit" name="submit" class="submit action-button" value="Submit" />
    </br>
      <p class="login__signup">Don't have an account? &nbsp;<a class="login__reregister" href = "/api/users/register">Sign up</a></p>
    </fieldset>
  </div>

</body>
</html>