<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="/../cssjs/all/bg.js" defer ></script>
  <link href = "/../cssjs/register/register.css" rel = "stylesheet"/>
  <title>Register</title>
	<script type = "text/javaScript">
			function get_user(){
			// 1. 데이터 입력하기 : name, email, username, password, confirm password
			let K_name = $('#k_name').val();
			let E_name = $('#e_name').val();
			let Email = $('#email').val();
			let Username = $('#username').val();
			let Password = $('#password').val();
			let Confirmpassword = $('#confirmpassword').val();
			let Role = $('#role').val();

			// 2. 입력사항 검사하기
				// 2.1 해당 요소 중 하나라도 입력하지 않았을 경우 alert를 띄운다
				
				if ( E_name === '') {
					alert('Please Enter Your E_Name');
					$('#e_name').focus();
					return ;
				} 
				if ( Email === '') {
					alert('Please Enter Your Email');
					$('#email').focus();
					return ;
				} 
				if ( Username === '') {
					alert('Please Enter Your Username');
					$('#username').focus();
					return ;
				} 
				if ( Password === ''){
					alert("Please Enter Your Password");
					$('#password').focus();
					return ;
				} 
				if ( Confirmpassword === ''){
					alert("Please Enter Your ConfirmPassword");
					$('#confirmpassword').focus();
					return ;
				}
				if ( Role === ''){
					alert("Please Enter Your Role");
					$('#role').focus();
					return ;
				}
				if( Confirmpassword !==  Password){
					console.log('Password',Password)
					console.log('Confirmpassword',Confirmpassword)
					alert("Check the ConfirmPassword Again");
					$('#confirmpassword').focus();
					return ;
				}
			// 입력 영어이름을 대문자로 바꾸기 
			E_name = E_name.toUpperCase();
			// Role을 Number 형태로 바꾸기
			Role = Number(Role)
			// 2.2 입력내용을 검사한다 
				// 1) English Name의 길이를 검사한다
				if( E_name.length < 1 || E_name.length > 50){
					alert("Name should be written in 1 ~ 50 words")
				}
				// 2) Password 를 검사한다 
				check(Password)
			// 3. POST에 저장을 요청한다 
			$.ajax({
				type: "POST",
				url: '/api/users/register',
				// name, email, username, password 정보 넘겨주기 
				data: { 
					k_name : K_name, 
					e_name : E_name, 
					email : Email, 
					password : Password, 
					username : Username , 
					role: Role,
				} ,
				// 성공시
				success : function(response){
					// console.log('res',response['success'] )
					if( response['success'] === 'true' ){
						alert('Check your email and activate account')
						window.location.replace( "http://localhost:4000/api/users/login");
					}else if( response['success'] === 'emailexists'){
						alert('Same username already Exist')
						$('#username').focus();
						return false;
					}
				}
        	})
		} // function get_user

		// 비밀번호 체크 함수
		function check(password){
			if(!/^[a-zA-Z0-9]{7,15}$/.test(password)){
				alert('7 ~ 15words by combination of number and english');
				return ;
			}
			var checkNumber = password.search(/[0-9]/g);
			var checkEnglish = password.search(/[a-z]/ig);

			if(checkNumber <0 || checkEnglish <0){
				alert("combine number and english");
				return ;
			}

			if(/(\w)\1\1\1/.test(password)){
				alert('Cannot use word like 444 more than 4 times');
				return ;
			}
				return true;
		}
		</script>

    </script>

</head>
<body>
  <div class="cont">
    <div class="demo">
      <div class="login">
        <div class="login__check"></div>
        <div class="login__form">
          <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input id = "k_name" type="text" class="login__input name" placeholder="Korean Name( Optional )"/>
		  </div>
		  <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
			</svg>
            <input id = "e_name" type="text" class="login__input name" placeholder="English Name( Required )"/>
		  </div>
		  <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input id = "email" type="text" class="login__input name" placeholder="Email"/>
		  </div>
		  <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input id ="username" type="text" class="login__input name" placeholder="Username"/>
		  </div>
		  
		  <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
			</svg>
			<span class = "login__description">  7 ~ 15 words by the combination of number and English  </span>
            <input id = "password" type="password" class="login__input name" placeholder="Password"/>
		  </div>
		  <div class="login__row">
            <svg class="login__icon name svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 a10,8 0 0,1 20,0z M10,0 a4,4 0 0,1 0,8 a4,4 0 0,1 0,-8" />
            </svg>
            <input id = "confirmpassword" type="password" class="login__input name" placeholder="Confirm Password"/>
		  </div>
		  
          <div class="login__row">
            <svg class="login__icon pass svg-icon" viewBox="0 0 20 20">
              <path d="M0,20 20,20 20,8 0,8z M10,13 10,16z M4,8 a6,8 0 0,1 12,0" />
            </svg>
            <select class="login__input pass" name="role" id="role">
				<option value='' selected>Choose Your Role</option>
				<option value = '1' >User</option>
				<option value = '0' >Dancer</option>
			</select>
		  </div>
		  
          <button onclick = "get_user()" type="button" class="login__submit">Sign in</button>
          <p class="login__signup">Already have an account? &nbsp;<a href = "/api/users/login">Login</a></p>
        </div>
      </div>
      <div class="app">
        <div class="app__top">
          <div class="app__menu-btn">
            <span></span>
          </div>
          <svg class="app__icon search svg-icon" viewBox="0 0 20 20">
            <path d="M20,20 15.36,15.36 a9,9 0 0,1 -12.72,-12.72 a 9,9 0 0,1 12.72,12.72" />
          </svg>
          <p class="app__hello">Good Morning!</p>
          <div class="app__user">
            <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__user-photo" /> -->
            <span class="app__user-notif">3</span>
          </div>
          <div class="app__month">
            <span class="app__month-btn left"></span>
            <p class="app__month-name">March</p>
            <span class="app__month-btn right"></span>
          </div>
        </div>
        <div class="app__bot">
          <div class="app__days">
            <div class="app__day weekday">Sun</div>
            <div class="app__day weekday">Mon</div>
            <div class="app__day weekday">Tue</div>
            <div class="app__day weekday">Wed</div>
            <div class="app__day weekday">Thu</div>
            <div class="app__day weekday">Fri</div>
            <div class="app__day weekday">Sad</div>
            <div class="app__day date">8</div>
            <div class="app__day date">9</div>
            <div class="app__day date">10</div>
            <div class="app__day date">11</div>
            <div class="app__day date">12</div>
            <div class="app__day date">13</div>
            <div class="app__day date">14</div>
          </div>
          <div class="app__meetings">
            <div class="app__meeting">
              <!-- <img src="https://s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-80_5.jpg" alt="" class="app__meeting-photo" /> -->
              <p class="app__meeting-name">Feed the cat</p>
              <p class="app__meeting-info">
                <span class="app__meeting-time">8 - 10am</span>
                <span class="app__meeting-place">Real-life</span>
              </p>
            </div>
            <div class="app__meeting">
              <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo" /> -->
              <p class="app__meeting-name">Feed the cat!</p>
              <p class="app__meeting-info">
                <span class="app__meeting-time">1 - 3pm</span>
                <span class="app__meeting-place">Real-life</span>
              </p>
            </div>
            <div class="app__meeting">
              <!-- <img src="//s3-us-west-2.amazonaws.com/s.cdpn.io/142996/profile/profile-512_5.jpg" alt="" class="app__meeting-photo" /> -->
              <p class="app__meeting-name">FEED THIS CAT ALREADY!!!</p>
              <p class="app__meeting-info">
                <span class="app__meeting-time">This button is just for demo ></span>
              </p>
            </div>
          </div>
        </div>
        <div class="app__logout">
          <svg class="app__logout-icon svg-icon" viewBox="0 0 20 20">
            <path d="M6,3 a8,8 0 1,0 8,0 M10,0 10,12"/>
          </svg>
        </div>
      </div>
    </div>
  </div>
</body>
</html>