<!DOCTYPE html>
<html lang="en">
    <head> 
		<meta name="viewport" content="width=device-width, initial-scale=1">

		<!-- Website Font style  <link rel="stylesheet" href="../cssjs/register/register.css">-->
	    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.6.1/css/font-awesome.min.css">
		
		<!-- Google Fonts -->
		<link href='https://fonts.googleapis.com/css?family=Passion+One' rel='stylesheet' type='text/css'>
        <link href='https://fonts.googleapis.com/css?family=Oxygen' rel='stylesheet' type='text/css'>
        
        <link href="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/css/bootstrap.min.css" rel="stylesheet" id="bootstrap-css">
		<script src="//maxcdn.bootstrapcdn.com/bootstrap/3.3.0/js/bootstrap.min.js"></script>
		<script src="https://ajax.googleapis.com/ajax/libs/jquery/3.4.1/jquery.min.js"></script>
        <script src="//code.jquery.com/jquery-1.11.1.min.js"></script>

		<title>ForgetPassword</title>

        <script type = "text/javaScript">
        
			function forget(){

            // resetLink ( token ) 얻기
            

			// 비밀번호 
			let Password = $('#password').val();
			let Confirm = $('#confirm').val();

				if ( Password === '') {
					alert('Please Enter Your Email');
					$('#password').focus();
					return ;
                } 
                if ( Confirm === '') {
					alert('Please Enter Your Email');
					$('#confirm').focus();
					return ;
                } 
                if ( Password !== Confirm ) {
					alert('Please Checkyour Confirm Password Again');
					$('#confirm').focus();
					return ;
                } 
                

				
			
			// 3. POST에 저장을 요청한다 
			$.ajax({
				type: "POST",
				url: '/api/users/resetPassword:token',
				data: { 
					password : Password
				} ,
				success : function(response){
					// console.log('res',response['success'] )
					if( response['result'] === "User with this email does not exists"){
						alert("User with this email does not exists")
					}else if( response['success'] === 'emailexists'){
						alert('Same username already Exist')
						$('#username').focus();
						return false;
					}
				}
        	})
		} // function forget

		</script>
	</head>
	<body>
		<div class="container">
			<div class="row main">
				<div class="main-login main-center">
				<h1>Reset Your Password</h1>
					<div class="register" >

						<div class="form-group">
							<label for="password" class="cols-sm-2 control-label">Enter your new password</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="password" id="password"  placeholder="Enter your password"/>
								</div>
							</div>
                        </div>
                        <div class="form-group">
							<label for="confrim" class="cols-sm-2 control-label">Confirm password ( Enter one more time )</label>
							<div class="cols-sm-10">
								<div class="input-group">
									<span class="input-group-addon"><i class="fa fa-lock fa-lg" aria-hidden="true"></i></span>
									<input type="text" class="form-control" name="confrim" id="confrim"  placeholder="Confrim you password"/>
								</div>
							</div>
						</div>
						<div class="form-group ">
							<input onclick= "forget()" type="submit" value="Send" id="button" class="btn btn-primary btn-lg btn-block login-button" />
						</div>
						
					</div>
				</div>
			</div>
		</div>
		 <!-- jQuery (necessary for Bootstrap's JavaScript plugins) -->
    <script src="https://ajax.googleapis.com/ajax/libs/jquery/1.12.4/jquery.min.js"></script>
    <!-- Include all compiled plugins (below), or include individual files as needed -->
    <script src="js/bootstrap.min.js"></script>
	</body>
</html>
<script src = "http://ajax.google.com/ajax/libs/jquery/1.12.4/jq"