<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">
    <link rel="stylesheet" href="cssjs/index/index.css" />
    <title>Join Dance</title>
</head>
<body>
<div class="container"> 
    <!--
    <div class="dance-pic">
        <span class='first-line'>Find Your Dancer Here</span>
    </div>
    -->
    <div class="login-container">
        <a href='templates/login.html'>
       <div class="login"> <span class="login-dancer-text">Login as Professional Dancer</span>
        <div class="img-dancer"></div></div>
        </a>
        <a href='templates/login.html'>
        <div class="login"><span class="login-user-text">Login as Estudiante</span>
        <div class="img-user"></div></div>
        </a>
    </div>
</div>
</body>
<script src='cssjs/index/index.js'></script>
</html>