@import url("https://fonts.googleapis.com/css?family=Balsamiq Sans");
body {
  margin: 0px;
  font-family: 'Balsamiq Sans', cursive;
}

.container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: columns;
          flex-direction: columns;
  height: 100vh;
}

.container .dance-pic {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  height: 100%;
  background-color: lavender;
  font-size: 3rem;
  -webkit-transition: all 2s ease-in-out;
  transition: all 2s ease-in-out;
}

.container .login-container {
  height: 100%;
  width: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  position: relative;
}

.container .login-container a {
  color: inherit;
  text-decoration: none;
}

.container .login-container .login {
  height: 100%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.container .login-container .login:hover {
  cursor: pointer;
}

.container .login-container .login:hover span {
  opacity: 1;
}

.container .login-container span {
  font-size: 2rem;
  opacity: 0;
}

.container .login-container .img-dancer {
  background-size: cover;
  -webkit-background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
}

.container .login-container .img-dancer:hover {
  opacity: 0.3;
}

.container .login-container .img-user {
  background-size: cover;
  -webkit-background-size: cover;
  width: 50%;
  height: 100%;
  position: absolute;
}

.container .login-container .img-user:hover {
  opacity: 0.3;
}

@media only screen and (max-width: 600px) {
  .container .login-container {
    height: 100%;
    width: 100%;
    display: -ms-grid;
    display: grid;
    -ms-grid-rows: 1fr 1fr;
        grid-template-rows: 1fr 1fr;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
  }
  .container .login-container .img-dancer {
    width: 100%;
    height: 50%;
  }
  .container .login-container .img-user {
    width: 100%;
    height: 50%;
  }
}
