@import url("https://fonts.googleapis.com/css?family=Balsamiq Sans");
body {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
}

header.mobile {
  display: none;
}

.supreme-container {
  overflow: hidden;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: black solid 1px;
  height: 8vh;
  font-weight: bold;
}

header .header-left {
  height: 100%;
  font-size: 3vw;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-right {
  height: 100%;
  margin-left: auto;
  font-size: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

header .header-right div:hover {
  border-bottom: black solid 5px;
}

main {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 4fr;
      grid-template-columns: 1fr 4fr;
  padding-top: 1em;
}

main .search {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
}

main .search form {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-bottom: 1em;
}

main .search form input {
  width: 80%;
  border: none;
  border-radius: 2px;
}

main .search form #namevalue {
  opacity: 0.2;
  margin-bottom: 1rem;
  background: lightcyan;
  border: 1px solid black;
}

main .search form #submitdancer {
  background: lightgreen;
  color: white;
}

main .search form #submitdancer:hover {
  cursor: pointer;
  color: black;
}

main .search .select-title {
  margin-bottom: 0.5em;
}

main .search .search-dance {
  display: block;
  margin-bottom: 2em;
  width: 80%;
  border-radius: 2px;
}

main .search .search-name {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 100%;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .search .search-name span {
  margin-right: 8%;
}

main .search .search-name input {
  width: 150%;
}

main .search #search-genre {
  background: lightblue;
}

main .search #search-loc {
  background: lightcoral;
}

main .search #search-academy {
  background: lightyellow;
}

main .search .result {
  text-align: center;
}

main .dancers {
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 1fr;
      grid-template-columns: 1fr 1fr;
  grid-gap: 1rem;
  margin-right: 1em;
}

main .dancers .profile {
  position: relative;
}

main .dancers .profile img {
  width: 100%;
  height: 40vh;
}

main .dancers .profile:hover img {
  opacity: 0.7;
}

main .dancers .profile:hover .middle {
  opacity: 1;
}

main .dancers .profile .middle {
  pointer-events: none;
  position: absolute;
  left: 25%;
  top: 25%;
  width: 50%;
  height: 50%;
  opacity: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: opacity 0.5;
  transition: opacity 0.5;
}

main .dancers .profile .middle .middle-text {
  font-size: 3em;
  color: white;
}

.popup-modal {
  height: 80vh;
  width: 80vw;
  background-color: #fff;
  position: fixed;
  left: 8%;
  top: 10%;
  padding: 1vh;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  z-index: 1011;
  max-height: 100%;
  overflow-y: auto;
}

.popup-modal.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-modal__close {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  cursor: pointer;
}

.popup-modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-modal .modal-header .modal-header-text {
  display: inline-block;
  font-size: 2rem;
  padding: 0.3em;
}

.popup-modal .modal-header .close-modal {
  height: 2rem;
  margin-right: 1em;
  background: coral;
  cursor: pointer;
}

.popup-modal .modal-main {
  height: 100%;
}

.popup-modal .modal-main .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 3px coral;
}

.popup-modal .modal-main .select-container:hover {
  cursor: pointer;
}

.popup-modal .modal-main .select-container div {
  width: 50%;
}

.popup-modal .modal-main .section-active {
  display: block;
}

.popup-modal .modal-main .section-hide {
  display: none;
}

.popup-modal .modal-main section {
  height: 100%;
}

.popup-modal .modal-main section .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-modal .modal-main section .container-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-modal .modal-main section .container-video iframe {
  height: 30rem;
  width: 80%;
  margin: 5%;
}

.body-blackout {
  -webkit-filter: blur(0.3vh);
          filter: blur(0.3vh);
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
  header.mobile {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.mobile .mobile-header-left {
    margin-left: 1em;
  }
  header.mobile .nav-bar i {
    margin-right: 1em;
  }
  main {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    padding-top: 3em;
  }
  main .search .search-dance {
    margin-bottom: 1em;
  }
  main .search .search-name span {
    margin-right: 4%;
  }
  main .search .search-name span #namecheck {
    width: 200%;
  }
  main .dancers {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    margin: 1em;
  }
  .popup-modal {
    top: 0;
    left: 0;
    height: 100vh;
    width: 100vw;
    padding: 0;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .dropdown {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 101;
  background: lightsalmon;
}

nav .dropdown .my-page {
  text-align: center;
}

nav .dropdown .my-page:hover {
  color: white;
}

nav .dropdown .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hide {
  -webkit-transform: translate(200%, 0%);
          transform: translate(200%, 0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.active {
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.modal-active {
  background: coral;
}
/*# sourceMappingURL=base.css.map */