@import url('https://fonts.googleapis.com/css?family=Balsamiq Sans');

body{
    font-family: 'Balsamiq Sans', cursive;
    margin:0;

}

header.mobile{
    display:none;

}

.supreme-container{
    overflow:hidden;
}

header{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    border-bottom: black solid 1px;
    height: 8vh;

    font-weight:bold;
   

    .header-left
    {   height:100%;
        font-size:3vw;
        margin-left:1em;
        display:flex;
        flex-direction:column;
        justify-content: center;
    }

    .header-right
    {
        height:100%;
        margin-left:auto;
        font-size:2vw;
        display:flex;
        flex-direction:row;
        width:30vw;
        justify-content: space-around;

        div
        {   
            display:flex;
            flex-direction: column;
            justify-content: center;
            height:100%;
            &:hover{border-bottom:black solid 5px;}
        }
    }
}

main{
    display:grid;
    grid-template-columns:1fr 4fr;
    padding-top:1em;

    .search{
       
        display:flex;
        flex-direction:column;
        form{
            display:flex;
            flex-direction:column;
            align-items:center;
            margin-bottom:1em;
            input{
                width:80%;
                border:none;
                border-radius:2px;
                background:lightgreen;
                color:white;
                &:hover{
                    cursor:pointer;
                    color:black;
                }
            }
        }

        .select-title
        {
            margin-bottom:0.5em;
        }
        .search-dance{
            display:block;
            margin-bottom:2em;
            width:80%;
            border-radius:2px;
            
        }
        #search-genre{
            background:lightblue
        }

        #search-loc{
            background:lightcoral
        }

        .result{
            text-align:center;
        }

    }

    .dancers{
    display:grid;
    grid-template-columns:1fr 1fr;
    grid-gap: 1rem;
    margin-right:1em;
    .profile{
        img{
            width:100%;
            height:40vh;
            &:hover{
                opacity:0.7;
            }
        }

    }
    
}

  
}


.popup-modal {
    height: 50vh;
    width: 50vw;
    background-color: #fff;
    position: fixed;
    left: 25%;
    top: 25%;
    padding: 1vh;
    opacity: 0;
    pointer-events: none;
    transition:opacity 300ms ease-in-out;
    z-index: 1011;
    
    &.is-visible {
      opacity: 1;
      pointer-events: auto;
    }

    &__close {
        position: absolute;
        font-size: 1.2rem;
        top: -10px;
        cursor: pointer;
      }
    }

.body-blackout{
    filter: blur(0.3vh);
}


@media only screen and (max-width: 600px) {
   header{
       display:none;
   }

   header.mobile{
       width:100%;
    position:fixed;
    top:0;
   height: 5vh;
   display:flex;

   flex-direction:row;
   justify-content: space-between;
   align-items: center;

   .mobile-header-left{
       margin-left:1em;
   }
   .nav-bar{
    i{
        margin-right:1em;
    }

   }
   }


   main{
    grid-template-columns : 1fr;   
    padding-top:3em;
    .search{
        .search-dance{
            margin-bottom: 1em;
        }
    }
    .dancers{
        grid-template-columns:1fr;
        margin:1em;
  }
}
}
nav{
    display:flex;
    flex-direction:row;
    justify-content: flex-end;
    .dropdown
{
    position:fixed;
    background:lightsalmon;

    .my-page{
        text-align:center;
        &:hover{
        color:white;
    }

    }
    .close{
        display:flex;
        flex-direction:row;
        justify-content: flex-end;
    }

}


}

.hide{
transform:translate(200%,0%);
transition:transform 0.5s;
}


.active{
    display:inline-block;
    transform: translate(0%,0%);  
    transition:transform 0.5s;
}