@import url("https://fonts.googleapis.com/css?family=Balsamiq Sans");
body {
  font-family: 'Balsamiq Sans', cursive;
  margin: 0;
}

body a {
  color: inherit;
  text-decoration: none;
}

header.mobile {
  display: none;
}

header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
  border-bottom: black solid 1px;
  height: 8vh;
  background: white;
  font-weight: bold;
}

header .header-left {
  height: 100%;
  font-size: 3vw;
  margin-left: 1em;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header .header-right {
  height: 100%;
  margin-left: auto;
  font-size: 2vw;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  width: 30vw;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

header .header-right div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 100%;
}

header .header-right div:hover {
  border-bottom: black solid 5px;
}

.popup-modal {
  height: 100vh;
  width: 100vw;
  background-color: #fff;
  position: fixed;
  left: 0;
  top: 0;
  opacity: 0;
  pointer-events: none;
  -webkit-transition: opacity 300ms ease-in-out;
  transition: opacity 300ms ease-in-out;
  z-index: 1011;
  max-height: 100%;
  overflow-y: auto;
}

.popup-modal.is-visible {
  opacity: 1;
  pointer-events: auto;
}

.popup-modal__close {
  position: absolute;
  font-size: 1.2rem;
  top: -10px;
  cursor: pointer;
}

.popup-modal .modal-header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-modal .modal-header .modal-header-text {
  display: inline-block;
  font-size: 2rem;
  padding: 0.3em;
}

.popup-modal .modal-header .close-modal {
  height: 2rem;
  margin-right: 1em;
  background: coral;
  cursor: pointer;
}

.popup-modal .modal-main {
  height: 100%;
}

.popup-modal .modal-main .select-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  text-align: center;
  font-size: 1.5rem;
  border-bottom: solid 3px coral;
}

.popup-modal .modal-main .select-container:hover {
  cursor: pointer;
}

.popup-modal .modal-main .select-container div {
  width: 50%;
}

.popup-modal .modal-main .section-active {
  display: block;
}

.popup-modal .modal-main .section-hide {
  display: none;
}

.popup-modal .modal-main section {
  height: 100%;
}

.popup-modal .modal-main section .container-info {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-modal .modal-main section .container-video {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.popup-modal .modal-main section .container-video iframe {
  height: 30rem;
  width: 80%;
  margin: 5%;
}

.body-blackout {
  overflow: hidden;
  -webkit-filter: blur(0.3vh);
          filter: blur(0.3vh);
}

.main-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  padding-top: 6vh;
}

#make-post {
  border: 1px solid gray;
  margin-bottom: 1vh;
  width: 80vw;
  height: 10vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

#make-post:hover {
  background: black;
  color: white;
}

#make-post p {
  margin: 0;
}

.card-container {
  border: orange solid 1px;
  -webkit-box-shadow: 0 4px 8px 0 orange;
  box-shadow: 0.1em 0.1em 0.1em 0 orange;
  width: 80vw;
  height: 60vh;
  margin-bottom: 10vh;
}

.video {
  margin-top: 1em;
  height: 70%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

iframe {
  width: 90%;
  height: 100%;
}

#card-copy {
  display: none;
}

#card {
  padding: 1vh;
  height: 100%;
}

#card-title {
  font-size: 1.5em;
  height: 10%;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  border-bottom: 1px solid black;
}

.sub-container {
  -ms-flex-pack: distribute;
      justify-content: space-around;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  margin-top: 3vh;
}

.card-info {
  margin-bottom: 1em;
}

@media only screen and (max-width: 600px) {
  header {
    display: none;
  }
  header.mobile {
    width: 100%;
    position: fixed;
    z-index: 100;
    top: 0;
    height: 5vh;
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-orient: horizontal;
    -webkit-box-direction: normal;
        -ms-flex-direction: row;
            flex-direction: row;
    -webkit-box-pack: justify;
        -ms-flex-pack: justify;
            justify-content: space-between;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  header.mobile .mobile-header-left {
    margin-left: 1em;
  }
  header.mobile .nav-bar i {
    margin-right: 1em;
  }
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

nav .dropdown {
  position: fixed;
  width: 50%;
  height: 50%;
  z-index: 101;
  background: lightsalmon;
}

nav .dropdown .my-page {
  text-align: center;
}

nav .dropdown .my-page:hover {
  color: white;
}

nav .dropdown .close {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: end;
      -ms-flex-pack: end;
          justify-content: flex-end;
}

.hide {
  -webkit-transform: translate(200%, 0%);
          transform: translate(200%, 0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}

.active {
  display: inline-block;
  -webkit-transform: translate(0%, 0%);
          transform: translate(0%, 0%);
  -webkit-transition: -webkit-transform 0.5s;
  transition: -webkit-transform 0.5s;
  transition: transform 0.5s;
  transition: transform 0.5s, -webkit-transform 0.5s;
}
