<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <meta http-equiv="X-UA-Compatible" content="ie=edge">


    <link rel="stylesheet" href="https://maxcdn.bootstrapcdn.com/font-awesome/4.5.0/css/font-awesome.min.css">
    <link href = "../../cssjs/mypage/mypage_user.css" rel = "stylesheet"/>
    <title>Document</title>
</head>
<body>
    <aside class="profile-card">
        <header>
          <!-- the username -->
          <h1>
            Hola! <%= e_name %>
          </h1>

    </header>
<div class="container-body">
    <div class="container">
        <h2>
                I am from 
       </h2>
       <ul class='list-genre'>
          <li><i class="fa-li fa fa-check"></i><%= place %></li>
      </ul>
      </div>
      
      <div class="container">
       <h2>
         I love
       </h2>
          <ul class='list-genre'>
          <% genre.forEach(function(gen){ %>
              <li><i class="fa-li fa fa-check"></i><%= gen %></li>
          <%  }); %>
          </ul>
      </div>
      <div class="container">
          <h2>
              Contact me by
            </h2>
               <ul class='list-genre'>
                  <li><i class="fa-li fa fa-check"></i><%= contact %></li>
               </ul>
      </div>
    </div>
      </aside>
</body>
</html>