<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link href = "../../cssjs/mypage/myMainpage.css" rel = "stylesheet"/>
    <link
    rel="stylesheet"
    href="https://cdnjs.cloudflare.com/ajax/libs/font-awesome/5.8.2/css/all.min.css"
  />
    <title>MyMainPage</title>
</head>

<body>
    <header>
        <nav>
            <h2>Instagram</h2>
            <h2>Search</h2>
            <ul>
                <li>a</li>
                <li>b</li>
                <li>c</li>
            </ul>
        </nav>
    </header>

    <main>
        <div class = "Infos">
            <div class="Info__image"></div>
            <div class="Info__content">
                <div class="main__content">
                    <span class = "main__content name">naneunyaobj</span>
                    <div class = "main__content profile">
                        <a href="/api/users/mypage">
                            <span >Profile Edit</span>
                            <i class="fas fa-user-cog"></i>
                          </a>
                    </div>
                </div>
                <div class="profile__content">
                    <div class = "profile__content video">
                        <span class="title">Video</span>
                        <span class="num">5</span>
                    </div>
                    <div class = "profile__content friends">
                        <span class="title">Video</span>
                        <span class="num">5</span>
                    </div>
                    <div class = "profile__content board">
                        <span class="title">Video</span>
                        <span class="num">5</span>
                    </div>
                </div>
                <div class="personal__content">
                    <h5>오범준</h5>
                    <h5>El felis es Hacer mi trabajos en la vida</h5>
                    <h5>(Dance crew_LOCO)</h5>
                    <h5>(Personal blog_2% psychogists)</h5>
                    
                </div>
            </div>
        </div>
        <div class="Nav">
            <div class="Nav__videos">Video</div>
            <div class="Nav__profile">Profile</div>
            <div class="Nav__profile">Board</div>
        </div>
        <div class = "Videos">
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
            <div class="video"></div>
        </div>
    </main>
</body>
</html>