@import url(c:\Users\user\Desktop\Dance_Project_HD\git_home\client\static\cssjs\reset.css);
* {
  -webkit-box-sizing: border-box;
          box-sizing: border-box;
}

html, body {
  width: 100%;
  height: 100%;
  margin: 0;
  padding: 0;
}

body {
  display: block;
}

header {
  width: 100%;
  height: 7vh;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

header nav {
  background-color: #FFFAF0;
  width: 80%;
  height: 100%;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  font-size: 0.8rem;
  color: gray;
  place-items: center center;
  -webkit-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
          box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -o-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -ms-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
  -moz-box-shadow: 0px 5px 10px 0px rgba(0, 0, 0, 0.25);
}

header nav .main {
  text-decoration: none;
  color: gray;
}

header nav ul {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

header nav ul li {
  list-style: none;
}

@media screen and (min-width: 427px) and (max-width: 1100px) {
  header nav {
    width: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  header {
    height: 6vh;
    width: 100%;
  }
  header nav {
    font-size: 0.6rem;
  }
  header nav .main {
    top: 0;
  }
  header nav ul {
    top: 0;
  }
}

main {
  width: 70%;
  height: 1000vh;
  margin: 0 auto;
  padding-top: 3vh;
  background-color: #FFFAF0;
}

main .Infos {
  padding-top: 1.4vh;
  height: 40vh;
  width: 80%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: 1fr 3fr;
      grid-template-columns: 1fr 3fr;
}

main .Infos .Info__image {
  width: 15rem;
  height: 15rem;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-position: center;
  border-radius: 50%;
}

main .Infos .Info__content {
  padding-left: 5vh;
  color: gray;
}

main .Infos .Info__content .main__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -ms-flex-pack: distribute;
      justify-content: space-around;
  color: gray;
}

main .Infos .Info__content .main__content .name {
  font-size: 1.7rem;
  margin-right: 3vh;
}

main .Infos .Info__content .main__content .profile {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  font-size: 1.1rem;
}

main .Infos .Info__content .main__content .profile a {
  text-decoration: none;
  color: gray;
}

main .Infos .Info__content .main__content .profile a:hover {
  color: black;
}

main .Infos .Info__content .main__content .profile a span {
  margin-right: 1rem;
  padding: 0.3rem;
  border: 1px solid lightgray;
  border-radius: 10px;
}

main .Infos .Info__content .profile__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: justify;
      -ms-flex-pack: justify;
          justify-content: space-between;
  margin: 1vh 0;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center stretch;
}

main .Infos .Info__content .profile__content div {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

main .Infos .Info__content .personal__content {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

main .Infos .Info__content .personal__content span {
  margin-bottom: 2px;
  font-weight: 400;
}

main #nav-tab {
  width: 90%;
  margin: 0 auto;
  height: 6vh;
  padding: 2vh 0;
  margin-bottom: 3vh;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  place-items: center center;
  color: gray;
  border-top: 0.5px solid lightgray;
  font-size: 1.1rem;
}

main #nav-tab li {
  list-style: none;
}

main #nav-tab li a {
  border: 1px solid transparent;
  border-radius: 10px;
  padding: 5px;
  color: gray;
  text-decoration: none;
  -webkit-transition: all 1s linear;
  transition: all 1s linear;
}

main #nav-tab li a:hover {
  color: white;
  background-color: lightgray;
}

main .tab-content .tab-pane {
  display: none;
}

main .tab-content .tab-pane.active {
  width: 90%;
  margin: 0 auto;
  display: -ms-grid;
  display: grid;
  -ms-grid-columns: (1fr)[3];
      grid-template-columns: repeat(3, 1fr);
  gap: 3vh;
  grid-auto-rows: 19rem;
}

main .tab-content .tab-pane.active .video {
  width: 100%;
  height: 18.125rem;
  background-image: url("https://source.unsplash.com/random");
  background-size: cover;
  background-position: center;
}

@media screen and (min-width: 427px) and (max-width: 1100px) {
  main {
    width: 90%;
  }
  main .Infos {
    height: 35vh;
  }
  main .Infos .Info__image {
    width: 12rem;
    height: 12rem;
  }
  main .Infos .Info__content {
    padding-left: 4vh;
  }
  main .Infos .Info__content .main__content {
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: (25px)[2];
        grid-template-columns: repeat(2, 25px);
  }
  main .Infos .Info__content .main__content .name {
    font-size: 1.4rem;
  }
  main .Infos .Info__content .main__content .profile {
    width: 150px;
    font-size: 1rem;
  }
  main .Infos .Info__content .profile__content {
    font-size: 16px;
  }
  main .Infos .Info__content .personal__content {
    font-size: 14px;
  }
  main .tab-content #Videos {
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
    gap: 1vh;
    grid-auto-rows: 17rem;
  }
  main .tab-content #Videos div {
    width: 18rem;
    margin: 0 auto;
    height: 90%;
  }
}

@media screen and (min-width: 320px) and (max-width: 426px) {
  main {
    width: 90%;
  }
  main .Infos {
    padding-top: 0.1vh;
    height: 34vh;
    width: 100%;
    margin: 0 auto;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 0.2fr 1fr;
        grid-template-rows: 0.2fr 1fr;
    grid-auto-rows: 1fr;
  }
  main .Infos .Info__image {
    width: 6rem;
    height: 6rem;
    margin: 0 auto;
    background-size: cover;
    background-position: center;
  }
  main .Infos .Info__content {
    margin-top: 0.5vh;
    height: 60%;
    padding: 0.5vh 2vh;
    color: gray;
    display: -ms-grid;
    display: grid;
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    -ms-grid-rows: 1fr 1fr 2.5fr;
        grid-template-rows: 1fr 1fr 2.5fr;
  }
  main .Infos .Info__content .main__content {
    margin: 0 auto;
    width: 100%;
    display: -ms-grid;
    display: grid;
    place-items: center center;
    -ms-grid-columns: (1fr)[2];
        grid-template-columns: repeat(2, 1fr);
  }
  main .Infos .Info__content .main__content .name {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    font-size: 15px;
  }
  main .Infos .Info__content .main__content .profile {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -webkit-box-pack: center;
        -ms-flex-pack: center;
            justify-content: center;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
    font-size: 8px;
  }
  main .Infos .Info__content .main__content .profile a {
    -ms-flex-item-align: end;
        -ms-grid-row-align: end;
        align-self: end;
    text-decoration: none;
    color: gray;
    -webkit-transition: color 1s linear;
    transition: color 1s linear;
  }
  main .Infos .Info__content .main__content .profile a:hover {
    color: black;
  }
  main .Infos .Info__content .main__content .profile a .fas {
    font-size: 15px;
  }
  main .Infos .Info__content .profile__content {
    margin: 0.4vh 0;
    font-size: 10px;
    font-weight: 300;
  }
  main .Infos .Info__content .profile__content div {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-pack: distribute;
        justify-content: space-around;
    -webkit-box-align: center;
        -ms-flex-align: center;
            align-items: center;
  }
  main .Infos .Info__content .personal__content span {
    font-size: 10px;
  }
  main #nav-tab {
    height: 1vh;
    margin-top: 15px;
    font-size: 0.8rem;
  }
  main .tab-content #Videos {
    -ms-grid-columns: 1fr;
        grid-template-columns: 1fr;
    gap: 3vh;
    grid-auto-rows: 12.5rem;
  }
  main .tab-content #Videos div {
    width: 100%;
    height: 12.125rem;
    background-image: url("https://source.unsplash.com/random");
    background-size: cover;
    background-position: center;
    border: 1px solid transparent;
    border-radius: 20%;
  }
}
/*# sourceMappingURL=myMainpage.css.map */