@import url("https://fonts.googleapis.com/css?family=Nunito:400,900|Montserrat|Roboto");
body {
  background-color: #5b6467;
  background-image: linear-gradient(315deg, #5b6467 0%, #8b939a 74%);
}

.container {
  background: #FFFFFF;
  width: 80vw;
  height: 100vh;
  margin: 0 auto;
  position: relative;
  margin-top: 5%;
  -webkit-box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
          box-shadow: 2px 5px 20px rgba(119, 119, 119, 0.5);
}

.logo {
  position: relative;
  z-index: 100;
  float: right;
  margin-right: 12px;
  margin-top: 12px;
  font-family: "Nunito Sans", sans-serif;
  color: black;
  font-weight: 900;
  font-size: 1.5em;
  letter-spacing: 1px;
}

.logo a {
  text-decoration: none;
}

.logo i {
  color: gray;
}

.leftbox {
  float: left;
  top: -5%;
  left: 5%;
  position: absolute;
  width: 15%;
  height: 110%;
  background: #5b6467;
  -webkit-box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
          box-shadow: 3px 3px 10px rgba(119, 119, 119, 0.5);
}

nav {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

nav a {
  list-style: none;
  padding: 35px;
  color: #FFFFFF;
  font-size: 1.1em;
  display: block;
  -webkit-transition: all .3s ease-in-out;
  transition: all .3s ease-in-out;
}

nav a:hover {
  color: #D9D9D9;
  -webkit-transform: scale(1.2);
          transform: scale(1.2);
  cursor: pointer;
}

nav a:first-child {
  margin-top: 7px;
}

.active {
  color: black;
}

.rightbox {
  float: right;
  width: 65%;
  height: 100%;
}

.profile, .payment, .subscription, .privacy, .settings {
  -webkit-transition: opacity .5s ease-in;
  transition: opacity .5s ease-in;
  position: absolute;
  width: 70%;
}

h1 {
  font-family: "Montserrat", sans-serif;
  color: #7d7d7d;
  font-size: 3em;
  margin-top: 40px;
  margin-bottom: 35px;
}

h2 {
  color: #777777;
  font-family: "Roboto", sans-serif;
  width: 80%;
  text-transform: uppercase;
  font-size: 1.5em;
  letter-spacing: 1px;
  margin-left: 2px;
}

p {
  border-width: 1px;
  border-style: solid;
  -o-border-image: linear-gradient(to right, #8b939a, rgba(125, 125, 125, 0.5)) 1 0%;
     border-image: -webkit-gradient(linear, left top, right top, from(#8b939a), to(rgba(125, 125, 125, 0.5))) 1 0%;
     border-image: linear-gradient(to right, #8b939a, rgba(125, 125, 125, 0.5)) 1 0%;
  border-top: 0;
  width: 80%;
  font-family: "Montserrat", sans-serif;
  font-size: 1em;
  padding: 7px 0;
  color: #070707;
}

span {
  font-size: .5em;
  color: #777777;
}

select {
  border: none;
}

.btn {
  float: right;
  font-family: "Roboto", sans-serif;
  text-transform: uppercase;
  font-size: 0.8em;
  border: none;
  color: black;
}

.btn:hover {
  text-decoration: underline;
  font-weight: 900;
}

input {
  border: none;
}

.privacy h2 {
  margin-top: 25px;
}

.settings h2 {
  margin-top: 25px;
}

.noshow {
  z-index: -1;
  opacity: 0;
}

footer {
  position: absolute;
  width: 20%;
  bottom: 0;
  right: -20px;
  text-align: right;
  font-size: 0.8em;
  text-transform: uppercase;
  letter-spacing: 2px;
  font-family: "Roboto", sans-serif;
}

footer p {
  border: none;
  padding: 0;
}

footer a {
  color: #ffffff;
  text-decoration: none;
}

footer a:hover {
  color: #7d7d7d;
}

.changing {
  color: red;
  -webkit-transform: all 1s ease-in;
          transform: all 1s ease-in;
}

label {
  display: block;
}

#display-image {
  height: 50%;
  width: 70%;
  border-radius: 30%;
  margin: 1vh auto;
  display: block;
  margin-top: 8vh;
}

.container-btn {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: horizontal;
  -webkit-box-direction: normal;
      -ms-flex-direction: row;
          flex-direction: row;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

.btn-deactive {
  display: none;
}

.card-container {
  border: black solid 1px;
  width: 70vw;
  height: 30vh;
  margin-bottom: 10vh;
}

#card-copy {
  display: none;
}

#card {
  padding: 1vh;
}

.card-info {
  margin-bottom: 1em;
}

.open-update {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -ms-flex-pack: distribute;
      justify-content: space-around;
}

.delete-modal {
  position: fixed;
  left: 25%;
  top: 30%;
  z-index: 1;
  border: solid 1px black;
}

.modal-hide {
  display: none;
}

.blackout {
  -webkit-filter: blur(1px);
          filter: blur(1px);
}

@media only screen and (max-width: 600px) {
  html, body {
    height: 100%;
    width: 100%;
    margin: 0;
    padding: 0;
  }
  .container {
    width: 100vw;
    height: 128vh;
  }
  p {
    width: 90%;
  }
  select {
    width: 60%;
  }
  .leftbox {
    left: 2%;
  }
}
/*# sourceMappingURL=mypage.css.map */