body {
  background: lightgray;
}

.main-container {
  border: white solid 8px;
  border-radius: 3px;
}

.header {
  text-align: center;
}

.write-input p {
  margin: 0;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

textarea {
  height: 20vh;
  width: 60vw;
}

.input-container {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
}

input:not([type='submit']) {
  margin-bottom: 1em;
  width: 60vw;
}

.btn-submit {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  margin-bottom: 1vh;
}
